extends layout

block content
  script.
    if (10 == 10) {
      //cargando();
    }
  section#content_configuracion
  .container
    .row
      .col-lg-8.mx-auto
        h2 Configurar Bienvenida
        p.lead
          | This is a great place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:
        
  section#content_comenzar.bg-light
  .container
    .row
      .col-lg-8.mx-auto
        h2 Hola Cómo estas AAAAA ?
        p.lead
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.
  